In [1]:
import pandas as pd

In [2]:
cam_df = pd.read_csv("data\\CameronData.csv")
cam_df.head(3)

,Index,Posting,PosterName,PostingDate,NumberofLikes,NumberofComments,NumberofReposts,NumberofOrganicImpressions,Comments,Commenters
0,1,ðŸŒŸ Celebrating Entrepreneurship & Economic ...,CameronR.Law,11/2/2023,12,3,1,98,What a great news for the Greater Sacramento S...,"Dick Gourley, Cameron Law, Carlsen Center for ..."
1,2,Join us for an early Global Entrepreneurship ...,CameronR.Law,11/2/2023,11,3,2,342,An amazing opportunity! I look forward to seei...,"Cameron Law, Kwame Anku, Mark Takata"
2,3,Exciting News! Global Entrepreneurship Week S...,CameronR.Law,11/1/2023,7,0,4,109,NaN,NaN

### Question 2: Who are the most influential connections in my network? Identify individuals with a large following or high engagement rates who may be valuable for networking or collaboration

##### we will look at the number of organic Impressions column to see what posts reach the lartgest new audience and therefore have the most influence and the column commenters to see who might be attributed with the impressions

In [3]:
Inspect = ['Commenters', 'NumberofOrganicImpressions']

##### we will look at the top 5 Number of Organic Impressions values to see if any of the top posts share any commenters.

In [8]:
cam_df[Inspect].sort_values(by= 'NumberofOrganicImpressions', ascending = False).head(5)

,Commenters,NumberofOrganicImpressions
83,"StartupSac, Startup Challenge, Startup Challenge",1229
44,"Joel Higginbotham, StartupSac",1158
32,"Kincy Clark, Cameron Law, Dick Gourley, Camero...",653
45,"Neal Best, Samuel Taylor",535
43,"Cameron Law, Dick Gourley",446

In [7]:
#This is more internal note for karrisa:  for in case he wants only cameron posts here: 
cam_only_df = cam_df[cam_df['PosterName']== 'CameronR.Law']
cam_only_df[Inspect].sort_values(by= 'NumberofOrganicImpressions', ascending = False).head(5)

,Commenters,NumberofOrganicImpressions
83,"StartupSac, Startup Challenge, Startup Challenge",1229
32,"Kincy Clark, Cameron Law, Dick Gourley, Camero...",653
45,"Neal Best, Samuel Taylor",535
43,"Cameron Law, Dick Gourley",446
64,Cameron Law,436

#### based on these results we can see that the most organic impressions are gained when one of the commenters is StartupSac. The posts they comment on have more orgainic impressions than the nesxt two highest posts on the list combined. Further research into them shows they have a large following of 2000 accounts and If we wanted to promote our brand or posts we should definiatly collaborate with them and integrate them more into our network.

### Question 3: How has my network expanded through influential connections? Analyze the growth of your network after connecting with influential individuals.

##### so now to establish who are influential connections we should still include Oganic impressions but also include other forms of engagemtnt like likes, reposts, and comments

In [10]:
Inspect = ['Commenters', 'NumberofOrganicImpressions', 'NumberofLikes', 'NumberofComments', 'NumberofReposts']

###### Replace with cam_only_df for just camerons posts

In [38]:
cam_df[Inspect].sort_values(by= 'NumberofLikes', ascending = False).head(5)

,Commenters,NumberofOrganicImpressions,NumberofLikes,NumberofComments,NumberofReposts
5,"Cameron Law,Ethan Bradley, Ethan Bradley, Ste...",0,108,33,2
44,"Joel Higginbotham, StartupSac",1158,52,2,4
58,"Ronald Flores, Franklin Burris, Arelene Miranda",0,40,5,8
45,"Neal Best, Samuel Taylor",535,39,2,1
18,NaN,0,33,0,10

##### Here we are taking the most liked post that doesnt appear to be sponsored (NumberofOrganicImpressions >0) and looking at the unique commentors on it

In [43]:
commentors =  cam_df['Commenters'].iloc[5].split(',')
print(set(commentors))
commentors =  cam_df['Commenters'].iloc[44].split(',')
print(set(commentors))
commentors = cam_df['Commenters'].iloc[58].split(',')
print(set(commentors))

{' Daveed Sidhu', ' Leah Burdick', ' Pam Marrone', ' Giuseppe Sanfillippo', 'Cameron Law', 'Ethan Bradley', ' Pam Kaur', ' Sal Ramirez', ' UC Davis Institute for Innovation and Entrepreneurship', ' Ethan  Bradley', ' Joe Ruport', ' Vilien Gomez', ' Heidi Sanborn', ' Michael Jasso', ' Stephanie McGann-Jantzen', ' FourthWave', ' Cameron Law', ' Mark Beckford'}
{' StartupSac', 'Joel Higginbotham'}
{' Arelene Miranda', 'Ronald Flores', ' Franklin Burris'}

In [12]:
cam_df[Inspect].sort_values(by= 'NumberofComments', ascending = False).head(5)

,Commenters,NumberofOrganicImpressions,NumberofLikes,NumberofComments,NumberofReposts
5,"Cameron Law,Ethan Bradley, Ethan Bradley, Ste...",0,108,33,2
72,"Maria Butler,Maria Butler,Maria Butler,Maria B...",54,14,9,1
73,"Azriel (A.Z) Nicdao, Joshua Maddox, Joshua Mad...",80,20,7,7
67,NaN,383,20,7,7
32,"Kincy Clark, Cameron Law, Dick Gourley, Camero...",653,12,6,3

##### Here we are taking the most commented post and looking at the unique commentors on it

In [44]:
commentors = cam_df['Commenters'].iloc[5].split(',')
print(set(commentors))
commentors = cam_df['Commenters'].iloc[72].split(',')
print(set(commentors))
commentors = cam_df['Commenters'].iloc[73].split(',')
print(set(commentors))

{' Daveed Sidhu', ' Leah Burdick', ' Pam Marrone', ' Giuseppe Sanfillippo', 'Cameron Law', 'Ethan Bradley', ' Pam Kaur', ' Sal Ramirez', ' UC Davis Institute for Innovation and Entrepreneurship', ' Ethan  Bradley', ' Joe Ruport', ' Vilien Gomez', ' Heidi Sanborn', ' Michael Jasso', ' Stephanie McGann-Jantzen', ' FourthWave', ' Cameron Law', ' Mark Beckford'}
{' José Matthijsse', 'Maria Butler'}
{" Vicki J. O'Grady-Longo", 'Azriel (A.Z) Nicdao', ' June Swatzell', ' Joshua Maddox', ' 1 Million Cups Sacramento'}

##### Here we are taking the most reposted post and looking at the unique commentors on it

In [45]:
cam_df[Inspect].sort_values(by= 'NumberofReposts', ascending = False).head(5)

,Commenters,NumberofOrganicImpressions,NumberofLikes,NumberofComments,NumberofReposts
18,NaN,0,33,0,10
31,Nina Essandoh,0,1,1,10
50,"Laura Good, June Swatzell, Pam Kaur",0,16,3,9
64,Cameron Law,436,14,1,8
58,"Ronald Flores, Franklin Burris, Arelene Miranda",0,40,5,8

In [47]:
commentors =  cam_df['Commenters'].iloc[31].split(',')
print(set(commentors))
commentors = cam_df['Commenters'].iloc[50].split(',')
print(set(commentors))
commentors =  cam_df['Commenters'].iloc[64].split(',')
print(set(commentors))

{'Nina Essandoh'}
{'Laura Good', ' June Swatzell', ' Pam Kaur'}
{'Cameron Law'}

##### Looking at teh data above we can see that the number of likes and comments seem to go down as the index of teh record increases. Given that the Dasta set is ordered from latest first, we can see that connections with influential people means we see lower number of organic impressions as we can onlyh reach as far as their networks do, but we are receiving more account engagemnt from the ones we have already reached.